
html { font-family: 'Roboto', sans-serif; }

li { list-style-type: circle; margin-left: 20px; }

.Article { display: flex; flex-direction: column; width: 400px; }
.Article--Important .Article__Title { color: red; }
.Article__Title { text-transform: uppercase; font-weight: bold; font-size: 2em; }
.Article__Metadata { display: flex; justify-content: space-between; font-size: 0.9em; }
.Article__Content { text-align: justify; }
