/* ###### */
/* GLOBAL */
/* ###### */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li {
    list-style-type: none;
}

/* ###### */
/* HEADER */
/* ###### */
header{
    background: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 99vw;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 110px;
}

footer{
    position: absolute;
    bottom: 0;
}

/* ########### */
/* HEADER LOGO */
/* ########### */

.logo{
    width: 100px;
}

/* ################# */
/* HEADER SEARCH BAR */
/* ################# */

.searchButton > img {
    margin:auto;
}

.searchButton{
    height: 38.5px;
    width: 65px;
    opacity: 0.5;
    background: #E9E9E9;
    border: 1px black solid;
    display:flex;
}

.searchButton > img:hover{
    transition: 0.3s;
    opacity: 1;
    background: #E9E9E9;
}
.searchBar{
    display:flex;
    flex-direction: row;
}

.searchInput{
    height:35px;
    width: 30vw;
    min-width:300px;
}


/* #################### */
/* HEADER RIGHT SECTION */
/* #################### */

.header_rightSection{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* LOGIN BUTTON */

.buttonLogin{
    font-family: Roboto;
    background: transparent;
    color: #387FDC;
    border: 1px solid #387FDC;
    padding: 10px;
    border-radius: 2px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonLogin > img {
    margin-right: 5px;
}

/* DOTS MENU */

.dotsButton{
    height: 100%;
}

.dotsMenu{
    display: flex;
    /*display: none;*/
    flex-direction: column;
    z-index: 10;
    position: relative;
    border: 1px solid lightgray;
    justify-content: space-around;
    margin-bottom: -170px;
    margin-right: -300px;
}

.dotsMenu >span:hover{
    background: lightgray;
}
.dotsMenu >span{
    padding: 10px;
}

.grid {
    background: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tagsList {
    display: flex;
    background-color: white;
    /*width de tagList: calc(100% - width de aside)*/
    width: calc(100% - 240px);
    justify-content: space-around;
    position: fixed;
    top: 55px;
    padding: 10px;
    border-bottom: lightgrey 1px solid;
    border-top: lightgrey 1px solid;
    margin: 0;
}

.tagsList > li {
    background: whitesmoke;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 50px;
    min-width: 50px;
    max-height: 55px;
    text-align: center;
    font-size: 14Px;
}

.tagsList > li:active, li:hover {
    background: dimgray;
    color: whitesmoke;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    padding: 5px;
    margin-top: 20px;
}

.metaData {
    color: #606060;
    display: flex;
    padding-top: 10px;
}

.checkCircle{
    font-size: 14Px;
    margin-left: 5Px;
}

.videoLogo > img {
    margin-top: 10px;
    border-radius: 50%;
}

.infosVideos > h3, p {
    margin: 5px;
}

.infosVideos > h3 {
    font-weight: 500;
}

.infosVideos p {
    font-size: small;
    padding: inherit;
    margin-bottom: 0;
}

.vuesAndPublication {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.cookies{
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    z-index: 10;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
}

.aside{
    width: 240px;
}

/* cyrillic-ext */
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
/*}*/
/*!* cyrillic *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;*/
/*}*/
/*!* greek-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+1F00-1FFF;*/
/*}*/
/*!* greek *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0370-03FF;*/
/*}*/
/*!* vietnamese *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/
/*!* cyrillic-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');*/
/*    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
/*}*/
/*!* cyrillic *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');*/
/*    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;*/
/*}*/
/*!* greek-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');*/
/*    unicode-range: U+1F00-1FFF;*/
/*}*/
/*!* greek *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');*/
/*    unicode-range: U+0370-03FF;*/
/*}*/
/*!* vietnamese *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');*/
/*    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');*/
/*    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/
/*!* cyrillic-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
/*}*/
/*!* cyrillic *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;*/
/*}*/
/*!* greek-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+1F00-1FFF;*/
/*}*/
/*!* greek *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0370-03FF;*/
/*}*/
/*!* vietnamese *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/
/*!* cyrillic-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
/*}*/
/*!* cyrillic *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;*/
/*}*/
/*!* greek-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+1F00-1FFF;*/
/*}*/
/*!* greek *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0370-03FF;*/
/*}*/
/*!* vietnamese *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');*/
/*    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/



/*body {*/
/*    background: #F9F9F9;*/
/*}*/

/*aside {*/
/*    background: #F9F9F9;*/
/*    max-width: 300px;*/
/*}*/

/*li {*/
/*    list-style: none;*/
/*}*/
